@use '../config/variables';

/* ===== Contact ===== */
.contact {
    &__input {
        width: 100%;
        font-size: var(--normal-font-size);
        font-weight: var(--font-semi);
        padding: 1rem;
        margin-bottom: var(--mb-4);
        border: 1.5px solid var(--bg-strong-dark-color);
        border-radius: .5rem;
        outline: none;
    }
    &__button {
        display: block;
        margin-left: auto;
        border: none;
        outline: none;
        font-size: var(--normal-font-size);
        cursor: pointer;
    }
}